<template>
    <div class="row">
        <app-quote-item v-for="(quote, index) in quotes" @click.native="deleteQuote(index)">{{ quote }}</app-quote-item>
    </div>
</template>

<script>
    // @click.native: its a Modifier that allows to vue set that despide your hitting on a vue component "<app-quote-item", 
    // it will registered as a click in the entire wrap/html tags  

    import QuoteItem from './QuoteItem.vue';
    
    export default {
        props: ['quotes'], // getting property parameter from app.v
        components: { // used to set the external components to be used here
            appQuoteItem: QuoteItem
        },
        methods: {
            deleteQuote(index) {
                this.$emit('quoteDeleted', index);
            }
        }
    }
</script>

<style>

</style>