<template>
    <div class="container">
        <app-header :quoteCount="quotes.length" :maxQuotes="maxQuotes"></app-header>
        <app-new-quote @quoteAdded="newQuote" :addButtonTitle="addButtonTitle"></app-new-quote>
        <app-quote-grid :quotes="quotes" @quoteDeleted="deleteQuote"></app-quote-grid>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="alert alert-info">Info: Click on a Quote to delete it!</div>
            </div>
        </div>
    </div>
</template>

<script>
    import QuoteGrid from './components/QuoteGrid.vue';
    import NewQuote from './components/NewQuote.vue';
    import Header from './components/Header.vue';

    export default {
        data: function () {
            return {
                quotes: [
                    'Just a Quote to see something'
                ],
                maxQuotes: 10,
                addButtonTitle: 'Add new quote'
            }
        },
        methods: {
            newQuote(quote) { // function trigger by emit event "quoteAdded" in NewQuote.vue component
            captureEvents // method registers the window to capture all events of the specified type.
                if (this.quotes.length >= this.maxQuotes) {
                    return alert('Please delete Quotes first!');
                }
                this.quotes.push(quote); // property (array) param send to QuoteGrid component
            },
            deleteQuote(index) {
                this.quotes.splice(index, 1); //just modify the current array: removing the specific value of it based on index parameter
            }
        },
        components: { // used to set the external components to be used
            appQuoteGrid: QuoteGrid,
            appNewQuote: NewQuote,
            appHeader: Header
        }
    }
</script>

<style>
</style>
